<!DOCTYPE html>
<html>
<head>
	<title>Index</title>
</head>
<body>
    <table border="1px" width="100%" cellspacing="0">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for x in data %}
            <tr>
                <td>{{ x.id }}</td>
                <td>{{ x.username }}</td>
                <td>{{ x.email }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>